/* ==UserStyle==
@name           wiki.SuperFamicom.org Fix Scrollbars
@namespace      gitlab.com/Neui/userstyles
@homepageURL    https://gitlab.com/Neui/userstyles
@supportURL     https://gitlab.com/Neui/userstyles/issues
@version        1.0.0
@license        CC0-1.0
@description    Fix weird useless scrollbars on wiki.SuperFamicom.org
@author         Neui
==/UserStyle== */

@-moz-document domain("wiki.superfamicom.org") {
	body > div.container.main-section {
		overflow: hidden;
	}
}
