/* ==UserStyle==
@name           YouTube Compacter
@description    Make YouTube more compact
@namespace      gitlab.com/Neui/userstyles
@homepageURL    https://gitlab.com/Neui/userstyles
@supportURL     https://gitlab.com/Neui/userstyles/issues
@version        1.0.5
@license        CC-BY-4.0
@author         Neui
@preprocessor   uso
@var    number      top-bar-height  "Top bar height"                42
==/UserStyle== */

@-moz-document domain("youtube.com") {
	/* Make video thumbnails in the search size as expected */
	ytd-playlist-renderer[use-prominent-thumbs] ytd-playlist-thumbnail.ytd-playlist-renderer,
	ytd-video-renderer[use-prominent-thumbs] ytd-thumbnail.ytd-video-renderer {
		flex: 0;
	}

	/* Padding around channel name */
	ytd-video-renderer[use-prominent-thumbs] #channel-info.ytd-video-renderer {
		padding: 0;
	}

	/* Distance between videos */
	/* margin/padding between the title/name and the videos */
	#contents.ytd-shelf-renderer { margin-top: 12px; }
	/* margin/padding below the videos but before the line */
	#items.yt-horizontal-list-renderer { --ytd-horizontal-list-margin-bottom: 8px; }
	/* margin/padding between the name and the line above */
	.grid-subheader.ytd-shelf-renderer { margin-top: 16px; }
	/* margin/padding below the videos in list format */
	ytd-expanded-shelf-contents-renderer { margin-bottom: 12px; }

	/* Guide (left bar) */
	ytd-guide-entry-renderer { --paper-item-min-height: 30px; }

	/* Top bar */
	html, ytd-app {
		--top-bar-height: /*[[top-bar-height]]*/px; /* Default: 42px */
		--ytd-masthead-height: var(--top-bar-height) !important;
	}

	ytd-app[masthead-hidden] { /* Fullscreen video won't be shifted */
	    --ytd-masthead-height: 0px !important;
	}
	#container.ytd-masthead, /* Top bar */
	ytd-searchbox#search > .ytd-searchbox, /* Search box */
	#voice-search-button, /* Microphone next to search box */
	.ytd-masthead > ytd-button-renderer > yt-button-shape > a, /* Sign in button */
	#background.ytd-masthead {
	    height: var(--top-bar-height);
	}
	/* Move up search suggestions */
	.sbdd_a {
	    top: var(--top-bar-height) !important;
	}

	/* Game cards, hide it when description is collapsed */
	div#meta ytd-expander[collapsed] ytd-metadata-row-container-renderer { display: none; }
	/* Hide shorts in description (when expanded) */
	ytd-reel-shelf-renderer { display: none; }
}
