/* ==UserStyle==
@name           YouTube Better Dark Subscribe Button
@description    This makes the colours for the subscribe button on Youtube Dark mode more fitting
@namespace      gitlab.com/Neui/userstyles
@homepageURL    https://gitlab.com/Neui/userstyles
@supportURL     https://gitlab.com/Neui/userstyles/issues
@version        1.0.0
@license        CC-BY-4.0
@author         Neui
==/UserStyle== */

@-moz-document domain("youtube.com") {
	html[dark=true] paper-button[subscribed].ytd-subscribe-button-renderer {
		background-color: #222;
		color: gray;
	}
	html[dark=true] .deemphasize.yt-formatted-string { color: inherit; }
	html[dark=true] paper-button[subscribed].ytd-subscribe-button-renderer:hover { background: #333; color: lightgray; }

	html[dark=true] paper-button.ytd-subscribe-button-renderer {
		background: darkred;
		color: lightgray;
	}
	html[dark=true] paper-button.ytd-subscribe-button-renderer:hover { background: #A11; color: white; }
}